*{
    margin: 0;
    border: border-box;
}

.backgroundset img{
    
    /* height: 100vh; */
    margin: 0;
    width:110%;
    height: 100%;
    z-index: -1;
    position:fixed;


}

.umvBackground1 img{
    
    /* height: 100vh; */
    margin: 0;
    width:110%;
    height: 100%;
    z-index: -1;
    position:fixed;
    object-fit: cover; /*fit image into frame*/ 
}


header{
    z-index:1;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
}

/* footer{
    z-index:1;
    position: sticky;
    bottom:0;
    width: 100%;
    margin: 0;
} */
.name{
    width: 100%;
    height: 12vh;
    background-color: rgb(3, 124, 114);
    color: aliceblue;
    font-size: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;

    
    animation: Myname 0.5s linear 0.3s normal;
}
.navbar2{
    height: 5vh;
    background-color:rgb(6, 55, 6);
    display: flex;
    justify-content:space-around;
    align-items: center;

    /* flex-wrap: wrap; */


}

.navbar3{
    height:7vh;
    background-color: rgba(7, 42, 39, 0.821);
    color: aliceblue;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}
.atag{
    text-decoration: none;
    color: white;
}

.notes{
    /* background-image: url("resources/backg2.jpg");
    background-size:auto;
    z-index: -1; */
    /* position:fixed; */

    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.resultBox{
    margin: 10px 10px 10px 10px;
    background-color: #fff;
    text-align: center;
}

.sub{
    font-size: 7vw;
    height: 10vw;
    text-align:center;
    

}
img{
    width: 30vw;
    height:40vw;
}

@media (max-width:600px){
    .box{
        margin-top:60px;
        margin-bottom: 30px;
        background-color: rgb(193, 229, 229);
        width: 90vw;
        height:120vw;
        align-items: center;
    
    }
    
    img{
        /* margin: 5vw; */
        width: 86vw;
        height:106vw;
        margin:2vw;
    }
    
    .sub{
        font-size: 9vw;
        height: 10vw;
        text-align:center;
        /* transform: translateY(5vw); */
    
    }
}

.footer1{

    margin-top: 60px; 
    height: 60px;
    background-color: teal;

    display: flex;
    justify-content:space-around;
    align-items:center;
}
.a1{
    text-decoration: none;
    color: white;
}

.pbox{
        background-color: rgb(193, 229, 229);
        width: 45vw;
        height:60vw;
        align-items: center;
        margin-bottom: 0;
        transform: scale(0.9);
        
}

.pbox img{
    /* margin: 5vw; */
    width: 41vw;
    height:50vw;
    margin:2vw;
}
.box:hover{
    transform: scale(1);
    
    background-color: hsl(165, 88%, 44%);
}

.pdf{
    font-size: 5vw;
    height: 5vw;
    text-align:center;
}

@keyframes Myname{
    from{font-size: 2vh;}
    to{font-size: 4.5vh;}
}

.subjectiveacidbasesalt{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ContentHeading{
    height: 10vh;
    width: 100%;
    background-color:transparent;
    color: aliceblue;
    font-size: 3vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
